






@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  overflow: scroll;
}
body,
html {
  background-color: #fffaf1;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}



.aside-section {
  top: 0;
  bottom: 0;
  position: absolute;
}

.aside-left {
  display: none;
  width: 40%;
  left: 0;
  background-color: #fffaf1;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}

.aside-right {
  width: 100%;
  right: 0;
  background-color: #38618c;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.aside-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 150px;
  text-align: left;
  padding-left: 50px;
}

.aside-content {
  margin-top: 150px;
  padding: 0 40px;
  position: relative;
  color: #38618c;
  text-align: left;
}

.aside-list li {
  margin-bottom: 20px;
}

.aside-anchor::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff1af;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 3px;
}

.info {
  font-weight: 400;
  font-size: 1em;
}

.aside-anchor::before {
  border-radius: 3px;
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  left: 0;
  height: 3px;
  z-index: 1;
  width: 50%;
  -webkit-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.aside-anchor:hover:before {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.aside-anchor {
  padding-bottom: 7px;
  color: #fffAf1;
  line-height: 3em;
  text-decoration: none;
  font-size: 30px;
  position: relative;
  font-weight: 500;
}



input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ aside .aside-left {
  transform: translateY(0%);
}

input[type="checkbox"]:checked ~ aside .aside-right {
  transform: translateX(0%);
}

input[type="checkbox"]:checked ~ label .bar {
  background-color: #fff;
}

input[type="checkbox"]:checked ~ label .top {
  -webkit-transform: translateY(0px) rotateZ(45deg);
  -moz-transform: translateY(0px) rotateZ(45deg);
  -ms-transform: translateY(0px) rotateZ(45deg);
  -o-transform: translateY(0px) rotateZ(45deg);
  transform: translateY(0px) rotateZ(45deg);
}

input[type="checkbox"]:checked ~ label .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

input[type="checkbox"]:checked ~ label .middle {
  width: 0;
}

.middle {
  margin: 0 auto;
}

label {
  top: 10px;
  left: 92%;
  display: inline-block;
  padding: 7px 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  z-index: 3;
  position: fixed;
  
}

.cd-logo {
  top: 10px;
  left: 2%;
  display: inline-block;
  padding: 7px 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  z-index: 3;
  position: fixed;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 78.2%;
  text-decoration: none;
  color: #38618c;
}

.bar {
  display: block;
  background-color: #38618c;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  margin: 5px auto;
  transition: background-color 0.4s ease-in, transform 0.4s ease-in,
    width 0.4s ease-in;
}

.content {
  text-align: center;
  margin-top: 19%;
  
}

h1 {
  display: inline-block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color:#38618c
}

.typewrite {
  font-weight: 500;
}



p {
  font-size: 30px;
}

.button {
  display: inline-block;
  background-image: none;
  border: none;
  background-color: transparent;
  padding-bottom: 7px;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  color: #38618c;
  padding: 7px 50px;
  border: 2px solid #38618c;
}

@media (min-width: 992px) {
  h1 {
    font-size: 40px;
  }
  .aside-left {
    display: block;
  }

  .aside-right {
    width: 60%;
  }
}


/* Split the screen in half */
.split {
  height: 100vh;
  width: 50%;
  position: fixed;
  z-index: 0;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  overflow: hidden;
  
}

/* Control the right side */
.right {
  right: 0;
  overflow: hidden;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 75%;
  -webkit-transition-property: all; 
-webkit-transition-duration: 0.3s; 
-webkit-transition-timing-function: ease; 
}

.centered img:hover {
  transform: scale(1.2);
}


/* css for case study grid */

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { 
    grid-area: 1 / 1 / 5 / 3;
    padding-left: 10%;
    padding-top: 10%;
  
  }

  h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
  }
  .div2 { grid-area: 1 / 3 / 5 / 5; }

  .csimg {
    display:block;
    margin:auto;
    padding-top: 12%;
  }
 
  .csp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 43px;
    padding-right: 100px;
  }

  .pics {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Shhh Shhh legal legal highroll highroll"
      "Shhh Shhh legal legal highroll highroll"
      "Shhh Shhh legal legal highroll highroll";
  }
  
  .Shhh { grid-area: Shhh; }
  
  .legal { grid-area: legal; }
  
  .highroll { grid-area: highroll; }

  
  .threepic {
    height: 100vh;
  }

  .fullscreen {
    height: 100vh;
    width: 100vw;
  }

  /* 1 page grid */

  .onepggrid {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "left left left right right right"
      "left left left right right right"
      "left left left right right right";
    overflow: hidden;
  }
  
  .left-side { 
    grid-area: left;
    padding-left: 3.5vw;
    padding-top: 10vh;
    height: 100vh;
    overflow: hidden;
  }
  
  .right-side { 
    grid-area: right;
    padding-top: 10vh;
    height: 100vh;
    overflow: hidden;
  
  }
  
  .abouttag {
    text-decoration: none;
    font-size: 30px;
    position: relative;
    font-weight: 500;
  }

  @media(max-width:1024px) {
    .onepggrid {
          display:block;
          grid-template-columns: auto;
          grid-template-columns: auto;
          overflow: scroll;
      }
      .right-side .left-side {
        grid-column: auto;
          grid-row: auto;
          
          
    }
  }
    
    
    


